@font-face { 
	font-family: "Roboto", sans-serif;
	font-family: "Oregano", cursive;
	font-family: "Inconsolata", monospace;
} 

html, body { 
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	letter-spacing: -0.2pt;
}

* { 
	margin: 0;
	padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, header, hgroup, nav, section { 
	display:block;
}

body { 
	font: normal 1.05em "Roboto", arial, sans-serif;
	/*background: #FFFFFF;*/
	color: #000;
}

#content {
	width: 940px;
	margin: auto;
	padding-bottom: 30px;
}

h1 { 
	text-align: center;
	font: bold 200% "Roboto", arial;
	padding: 30px 0 30px 0;
}

h2 {
	font: bold 150% "Roboto", arial;
	margin: 30px 0 20px 10px;
}

h3 {
	font: 120% "Roboto", arial;
	margin: 15px 0 5px 0;
}

h4 {
	font: 110% "Roboto", arial;
	margin: 15px 0 5px 0;
	padding-left: 25px;
}

.author {
	font: 400 120% "Roboto", arial;
	padding-right: 1.5em;
}
.affil {
	text-align: center;
	padding: 10px 0 10px 0;
	font: 400 120% "Roboto", arial;
}
.venue {
	text-align: center;
	color: #A40;
	padding: 0px 0 0px 0;
	font: 400 120% "Roboto", arial;
}
.highlight {
	text-align: center;
	color: #F00;
	padding: 0px 0 0px 0;
	font: 400 120% "Roboto", arial;
}
.divider {
	text-align: center;
	padding: 20px 0 10px 0;
}

p {
	margin: 0 25px 0 25px;
	text-align: justify;
}

a, a:hover { 
	outline: none;
	text-decoration: none;
}

a { font-weight: bold; color: #28A; }
a:hover { color: #4AD; text-shadow: 0px 2px 1px #AFF; }
.inactive { color:#888; text-shadow: 0px 0px 0px #FFF; }

.paper {
	height: 320px;
}
.paper_pic {
	text-align: center;
	float: left;
	width: 310px;
}
.paper_content {
	float: left;
	width: 600px;
}
.bibtex {
	background-color: #FFF;
	font: 100% "Inconsolata";
	border: 2px solid #666;
	padding: 10px 10px 10px 10px;
	font-size: 85%;
}